
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>1-Profilim</p>
<p>2-tüm Başlıklarda Paging</p>
<p>3-Mesajlarda Session</p>
<p>4-Oturumun Yönetimin Mimariye Taşınması</p>
<p>5-Token kullanımı</p>

