USE [DbMvcCamp]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2.01.2023 14:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 2.01.2023 14:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[AboutID] [int] IDENTITY(1,1) NOT NULL,
	[AboutDetails1] [nvarchar](1000) NULL,
	[AboutDetails2] [nvarchar](1000) NULL,
	[AboutImage1] [nvarchar](100) NULL,
	[AboutImage2] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[AboutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 2.01.2023 14:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminUserName] [nvarchar](50) NULL,
	[AdminPassword] [nvarchar](50) NULL,
	[AdminRole] [nvarchar](1) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2.01.2023 14:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[CategoryDescription] [nvarchar](200) NULL,
	[CategoryStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 2.01.2023 14:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserMail] [nvarchar](50) NULL,
	[Subject] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[ContactDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contents]    Script Date: 2.01.2023 14:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contents](
	[ContentID] [int] IDENTITY(1,1) NOT NULL,
	[ContentValue] [nvarchar](1000) NULL,
	[ContentDate] [datetime] NOT NULL,
	[TitleID] [int] NOT NULL,
	[WriterID] [int] NULL,
	[ContentStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Contents] PRIMARY KEY CLUSTERED 
(
	[ContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageFiles]    Script Date: 2.01.2023 14:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageFiles](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](100) NULL,
	[ImagePath] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.ImageFiles] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 2.01.2023 14:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [nvarchar](50) NULL,
	[Receiver] [nvarchar](50) NULL,
	[Subject] [nvarchar](100) NULL,
	[MessageContent] [nvarchar](max) NULL,
	[MessageDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Titles]    Script Date: 2.01.2023 14:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Titles](
	[TitleID] [int] IDENTITY(1,1) NOT NULL,
	[TitleName] [nvarchar](50) NULL,
	[TitleDate] [datetime] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[WriterID] [int] NOT NULL,
	[TitleStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Titles] PRIMARY KEY CLUSTERED 
(
	[TitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Writers]    Script Date: 2.01.2023 14:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Writers](
	[WriterID] [int] IDENTITY(1,1) NOT NULL,
	[WriterName] [nvarchar](50) NULL,
	[WriterSurName] [nvarchar](50) NULL,
	[WriterImage] [nvarchar](250) NULL,
	[WriterMail] [nvarchar](100) NULL,
	[WriterPassword] [nvarchar](200) NULL,
	[WriterAbout] [nvarchar](100) NULL,
	[WriterTitle] [nvarchar](50) NULL,
	[WriterStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Writers] PRIMARY KEY CLUSTERED 
(
	[WriterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2]) VALUES (1, N'deneme', N'text', N'görsel1', NULL)
INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2]) VALUES (2, N'deneme', N'a', N'b', NULL)
SET IDENTITY_INSERT [dbo].[Abouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [AdminUserName], [AdminPassword], [AdminRole]) VALUES (1, N'admin@gmail.com', N'001', N'A')
INSERT [dbo].[Admins] ([AdminID], [AdminUserName], [AdminPassword], [AdminRole]) VALUES (2, N'admin2@gmail.com', N'002', N'B')
INSERT [dbo].[Admins] ([AdminID], [AdminUserName], [AdminPassword], [AdminRole]) VALUES (3, N'admin3@gmail.com', N'003', N'A')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (1, N'Eğitim', N'burası eğitim kategorisi', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (2, N'Tiyatro', N'burası tiyatro kategorsi', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (3, N'Kitap', N'burası tiyatro kategorisi', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [ContactDate]) VALUES (1, N'Ali yıldız', N'ali@gmail.com', N'teşekkür', N'geçenlerde bir tiyatro oyununa gitmeden önce sitenizdeki yorumlarınızı okudum.', CAST(N'2022-12-23T00:00:00.000' AS DateTime))
INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [ContactDate]) VALUES (2, N'Mert kutlu', N'kutlu@gmal.com', N'Rica', N'Merhaba yazılıma nereden başlamayalıyım rica etsem 4 numaralı içerikteki yazarın mailini gönderir misiniz', CAST(N'2022-12-23T00:00:00.000' AS DateTime))
INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [ContactDate]) VALUES (3, N'İlker Yüce', N'ilkeryüce@gmail.com', N'Şikayet', N'4 numaralı yazı hakkında şikayette bulunmak istiyorum ', CAST(N'2022-12-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Contents] ON 

INSERT [dbo].[Contents] ([ContentID], [ContentValue], [ContentDate], [TitleID], [WriterID], [ContentStatus]) VALUES (1002, N'İzlediğim en güzel  tiyatro oyunlarından biriydi zamanınız olursa mutlaka izleyin', CAST(N'2022-12-21T00:00:00.000' AS DateTime), 5, 3, 1)
INSERT [dbo].[Contents] ([ContentID], [ContentValue], [ContentDate], [TitleID], [WriterID], [ContentStatus]) VALUES (1003, N'Çok titiz ve düzenli bir şekilde kod yazılımı var', CAST(N'2022-12-21T00:00:00.000' AS DateTime), 1003, 5, 1)
INSERT [dbo].[Contents] ([ContentID], [ContentValue], [ContentDate], [TitleID], [WriterID], [ContentStatus]) VALUES (1004, N'Galatasaray 2022 de çok güzel top oynayarak şampiyonluğu hak etti', CAST(N'2022-12-21T00:00:00.000' AS DateTime), 1006, 1002, 1)
SET IDENTITY_INSERT [dbo].[Contents] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageFiles] ON 

INSERT [dbo].[ImageFiles] ([ImageID], [ImageName], [ImagePath]) VALUES (1, N'Amsterdam', N'/AdminLTE-3.0.4/Images/4062.jpeg')
INSERT [dbo].[ImageFiles] ([ImageID], [ImageName], [ImagePath]) VALUES (2, N'Berlin', N'/AdminLTE-3.0.4/Images/image.jpg')
INSERT [dbo].[ImageFiles] ([ImageID], [ImageName], [ImagePath]) VALUES (3, N'Tokyo', N'/AdminLTE-3.0.4/Images/indir.jpg')
SET IDENTITY_INSERT [dbo].[ImageFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [Sender], [Receiver], [Subject], [MessageContent], [MessageDate]) VALUES (1, N'aliyıldız@gmail.com', N'admin@gmail.com', N'deneme', N'merhaba bu bir text messajdır', CAST(N'2022-12-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Messages] ([MessageID], [Sender], [Receiver], [Subject], [MessageContent], [MessageDate]) VALUES (2, N'aliyıldız@gmail.com', N'emel@gmail.com', N'Soru', N'merhaba bir sorum var', CAST(N'2022-06-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Messages] ([MessageID], [Sender], [Receiver], [Subject], [MessageContent], [MessageDate]) VALUES (3, N'gizem@gmail.com', N'admin@gmail.com', N'Şikayet', N'C++ dersleri eksik', CAST(N'2022-12-27T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Titles] ON 

INSERT [dbo].[Titles] ([TitleID], [TitleName], [TitleDate], [CategoryID], [WriterID], [TitleStatus]) VALUES (3, N'İtiraflarım', CAST(N'2021-04-17T00:00:00.000' AS DateTime), 3, 1, 1)
INSERT [dbo].[Titles] ([TitleID], [TitleName], [TitleDate], [CategoryID], [WriterID], [TitleStatus]) VALUES (5, N'Venedik Tacirim', CAST(N'2021-04-18T00:00:00.000' AS DateTime), 2, 5, 1)
INSERT [dbo].[Titles] ([TitleID], [TitleName], [TitleDate], [CategoryID], [WriterID], [TitleStatus]) VALUES (1002, N'Cimri Oyunu', CAST(N'2022-12-20T00:00:00.000' AS DateTime), 1006, 5, 1)
SET IDENTITY_INSERT [dbo].[Titles] OFF
GO
SET IDENTITY_INSERT [dbo].[Writers] ON 

INSERT [dbo].[Writers] ([WriterID], [WriterName], [WriterSurName], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (1, N'Ali', N'Yıldız', N'https://png.pngitem.com/pimgs/s/22-224260_steve-akley-avatar-illustration-hd-png-download.png', N'aliyıldız@gmail.com', N'1111', N'Junior Software Developer', N'Yazılım Uzmanı', 1)
INSERT [dbo].[Writers] ([WriterID], [WriterName], [WriterSurName], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (2, N'Mehmet', N'Akif Ersoy', N'https://png.pngitem.com/pimgs/s/516-5163201_cartoon-hd-png-download.png', N'mehmet@gmail.com', N'11', N'Senior Software Developer', N'Kıdemlı Yazılım Uzmanı', 0)
INSERT [dbo].[Writers] ([WriterID], [WriterName], [WriterSurName], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (3, N'Emel', N'öztürk', N'https://png.pngitem.com/pimgs/s/22-224334_hand-painted-original-q-version-avatar-png-and.png', N'emel@gmail.com', N'123', N'Middle Software Developer', N'Tur Rehberi', 1)
SET IDENTITY_INSERT [dbo].[Writers] OFF
GO
ALTER TABLE [dbo].[Contents] ADD  DEFAULT ((0)) FOR [ContentStatus]
GO
ALTER TABLE [dbo].[Titles] ADD  DEFAULT ((0)) FOR [TitleStatus]
GO
ALTER TABLE [dbo].[Writers] ADD  DEFAULT ((0)) FOR [WriterStatus]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contents_dbo.Titles_TitleID] FOREIGN KEY([TitleID])
REFERENCES [dbo].[Titles] ([TitleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_dbo.Contents_dbo.Titles_TitleID]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contents_dbo.Writers_WriterID] FOREIGN KEY([WriterID])
REFERENCES [dbo].[Writers] ([WriterID])
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_dbo.Contents_dbo.Writers_WriterID]
GO
ALTER TABLE [dbo].[Titles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Titles_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Titles] CHECK CONSTRAINT [FK_dbo.Titles_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Titles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Titles_dbo.Writers_WriterID] FOREIGN KEY([WriterID])
REFERENCES [dbo].[Writers] ([WriterID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Titles] CHECK CONSTRAINT [FK_dbo.Titles_dbo.Writers_WriterID]
GO
